<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender" >
    <file value="App_Data/Logs/Logs.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="10000KB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%-5level %date [%-5.5thread] %-40.40logger - %message%newline" />
    </layout>
  </appender>


  <!-- Info 将日志以回滚文件的形式写到文件中 -->
  <appender name="RollingFileDebug" type="log4net.Appender.RollingFileAppender" >
    <!-- 日志文件存放位置，可以为绝对路径也可以为相对路径 -->
    <file value="App_Data/Logs/debug/" />
    <!-- 日志文件的命名规则 -->
    <datePattern value="/yyyy-MM-dd/'debug.log'"/>
    <!-- 将日志信息追加到已有的日志文件中-->
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="100" />
    <maximumFileSize value="10MB" />
    <!-- 指定按日期切分日志文件 -->
    <rollingStyle value="Date"/>
    <!-- 当将日期作为日志文件的名字时，必须将staticLogFileName的值设置为false -->
    <staticLogFileName value="false" />
    <!-- 最小锁定模式，以允许多个进程可以写入同一个文件 -->
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value=" &#13;&#10; &#13;&#10;【日志时间】：%d 【线程ID】：%thread &#13;&#10;【日志级别】：%-5p &#13;&#10;【日志对象】：%logger &#13;&#10;【日志内容】：%m &#13;&#10; " />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <param name="LevelMin" value="Debug" />
      <param name="LevelMax" value="Debug" />
    </filter>
  </appender>
  <root>
    <appender-ref ref="RollingFileAppender" />
    <appender-ref ref="RollingFileDebug" />
    <level value="DEBUG" />
  </root>
  <logger name="NHibernate">
    <level value="WARN" />
  </logger>
</log4net>
